<% unless current_user == @user%>
  <% if current_user.following?(@user)%>
    <div id="follow-form">
      <%= render 'unfollow' %>
    <% else %>
       <%= render 'follow' %>
    <% end %>
    </div>
<% end %>