<ul class="media-list">
    <% followings.each do |following| %>
      <li class="media">
        <div class="media-left">
          <img class="media-object img-rounded" src="<%= gravatar_url(following, { size: 50 }) %>" alt="">
        </div>
        <div class="media-body">
          <div>
            <%= following.name %>
          </div>
          <div>
          </div>
          <%= render 'follow_form' %>
        </div>
      </li>
    <% end %>
  </ul>