  
  <div class='search-user'>
    <% @users.each do |users| %>
    <div class='user-box'>
      <img class="media-object img-circle" src="<%= gravatar_url(users, { size: 105 }) %>" alt="">
      <a href="/users/<%= users.id %>"><%= users.name %></a>
      <p><%=users.introduction%></p>
    </div>
    <% end %>
  </div>
</div>