.user-new .card-head{
    background-color: white;
    }
.user-new .card {
  height: 670px;
  }
  
  .user-new .btn {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: blue;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 7px;
    }
  
  .user-new .btn:acrive {
    -webkit-transform: translateY(4px);
      transform: translateY(4px);/*下に動く*/
      border-bottom: none;/*線を消す*/
    }