.user-profile .id {
 position: absolute;
   top:18%;
   left: 58%;
}
.user-profile .box {
   position:  absolute;
   top: 18%;
   left: 58%;
}

.user-profile .name {
  margin-bottom: 40px;
}
.user-profile .name h1 {
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
}
.user-profile .status ul {
  margin: 0 auto 10px;
  padding: 0;
  display: table;
}
.user-profile .status ul li {
  width: 120px;
  padding: 5px 0;
  border-right: 1px solid #ddd;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #777;
}
.user-profile .status ul li:last-child {
  border: none;
}
.user-profile .status ul li .status-label {
  font-size: 12px;
}
.user-profile .status ul li .status-value {
  font-size: 18px;
}

.iteming {
  width:28%;
  float: left;
  margin-left: 60px;
  }
.iteming .panel {
  width:100%;
  }
.iteming .panel-heading {
  height:40px;
  margin-bottom:-20px;
  background-color:white;
  }

.iteming .panel-body {
  height:320px;
  padding:0px;
  margin:0px;
  }
  
  .iteming .panel-body img {
    width:100%;
    height:300px;
    }  

.edit-profile-btn {
  margin: 40px 0 0 15px;
  font-weight: bold;
  line-height: 26px;
  border-color: #dbdbdb;
}
 
.items .panel .panel-footer {
  height:230px;
  }
