<div class='toppage2'>
   <h2 class='text-center'>ひとりっぷって何？</h2>
   <p class='text1'>一人旅の思い出をシェアするSNSです</p>
   <p class='text1'>あなたは、一人旅の写真をSNSに挙げる<br>ことを不安に思ったりしませんか？
   <br>この場所は一人旅好きが交流する場所です。<br>だからこそ
   安心して、投稿しよう！！
   <p><i class="fa fa-comments fa-4x comment-tag"></i></p>
   <p><i class="fa fa-file-image-o fa-4x image-tag"></i></p>
   <p><i class="fa fa-heart-o fa-4x heart-tag"></i></p>
   <p><i class="fa fa-commenting-o fa-4x chat-tag"></i></p>
   <p></p>
   <p class="comment-capital">コメントをしてみよう！</p>
   <p class="heart-capital">いいねをつけよう！</p>
   <p class="image-capital">写真で思い出をシェアしよう！</p>
   <p class="chat-capital">チャットで盛り上がろう！</p>
</div>